In [1]:
from clean import *

In [2]:
clean('./data/train.csv')

/Users/elenastein/opt/anaconda3/envs/dkb_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3263: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,year,month,...,StateHoliday_new,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1115.0,2.0,0.0,0.0,0.0,0.0,a,1.0,2013,1,...,a,d,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1,1115.0,3.0,3697.0,305.0,1.0,0.0,0,1.0,2013,1,...,0,d,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
2,1115.0,4.0,4297.0,300.0,1.0,0.0,0,1.0,2013,1,...,0,d,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
3,1115.0,5.0,4540.0,326.0,1.0,0.0,0,1.0,2013,1,...,0,d,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
4,1115.0,6.0,4771.0,339.0,1.0,0.0,0,1.0,2013,1,...,0,d,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618468,127.0,4.0,3335.0,480.0,1.0,0.0,0,0.0,2014,6,...,0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618469,127.0,5.0,4724.0,591.0,1.0,0.0,0,0.0,2014,6,...,0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618470,127.0,6.0,5398.0,716.0,1.0,0.0,0,0.0,2014,6,...,0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618471,127.0,7.0,0.0,0.0,0.0,0.0,0,0.0,2014,6,...,0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
618472,127.0,1.0,12410.0,1119.0,1.0,1.0,NaN,0.0,2014,6,...,0,d,a,1350.0,12.0,2005.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"

In [3]:
from feature_engineering import *

creating conversion table

/Users/elenastein/opt/anaconda3/envs/dkb_env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  """Entry point for launching an IPython kernel.

converting the holidays

In [4]:
df = pd.read_csv('./transformed.csv')

In [5]:
df.head()

,Unnamed: 0,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,year,month,...,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,sorted id,holiday_bool
0,0,1115.0,2.0,0.0,0.0,0.0,0.0,1.0,2013,1,...,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",434,1
1,1,1115.0,3.0,3697.0,305.0,1.0,0.0,1.0,2013,1,...,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",434,0
2,2,1115.0,4.0,4297.0,300.0,1.0,0.0,1.0,2013,1,...,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",434,0
3,3,1115.0,5.0,4540.0,326.0,1.0,0.0,1.0,2013,1,...,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",434,0
4,4,1115.0,6.0,4771.0,339.0,1.0,0.0,1.0,2013,1,...,c,5350.0,7.0,2009.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",434,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618473 entries, 0 to 618472
Data columns (total 26 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 618473 non-null  int64
 1   Store                      618473 non-null  float64
 2   DayOfWeek                  600036 non-null  float64
 3   Sales                      600028 non-null  float64
 4   Customers                  599957 non-null  float64
 5   Open                       599832 non-null  float64
 6   Promo                      599791 non-null  float64
 7   SchoolHoliday              599686 non-null  float64
 8   year                       618473 non-null  int64
 9   month                      618473 non-null  int64
 10  week                       618473 non-null  int64
 11  day                        618473 non-null  int64
 12  day_week                   618473 non-null  int64
 13  month_start                618473 non-null  int64
 14  month_end                  618473 non-null  int64
 15  StoreType                  618473 non-null  object
 16  Assortment                 618473 non-null  object
 17  CompetitionDistance        618473 non-null  float64
 18  CompetitionOpenSinceMonth  618473 non-null  float64
 19  CompetitionOpenSinceYear   618473 non-null  float64
 20  Promo2                     618473 non-null  int64
 21  Promo2SinceWeek            618473 non-null  float64
 22  Promo2SinceYear            618473 non-null  float64
 23  PromoInterval              618473 non-null  object
 24  sorted id                  618473 non-null  int64
 25  holiday_bool               618473 non-null  int64
dtypes: float64(12), int64(11), object(3)
memory usage: 122.7+ MB

In [ ]:
# Splitting train, test, X and y 
X = df.loc[:, df.columns!= 'Sales']
y = df.loc[:, 'Sales']
# K fold to reshuffle the data ?? 
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2)



# One Hot Encoding 'StoreType', 'Assortment','PromoInterval'

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

cat_col = [col for col in df.columns if df[col].dtype=='O']

OH_X_train_cols = pd.DataFrame(OH_encoder.fit_transform(X_train[cat_col]))
OH_X_valid_cols = pd.DataFrame(OH_encoder.transform(X_valid[cat_col]))

OH_X_train_cols.index = X_train.index 
OH_X_valid_cols.index = X_valid.index

num_X_train = X_train.drop(cat_col, axis=1)
num_X_valid = X_valid.drop(cat_col, axis=1) 

X_train = pd.concat([num_X_train, OH_X_train_cols], axis=1)
X_valid = pd.concat([num_X_valid, OH_X_valid_cols], axis=1)