In [1]:
from clean import clean

In [2]:
df = clean()

/Users/elenastein/opt/anaconda3/envs/dkb_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,Store,Sales,Customers,Open,Promo,SchoolHoliday,year,month,week,day,...,StateHoliday_new,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,353.0,3139.0,820.0,1,0.0,1.0,2013,1,1,1,...,a,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"
1,353.0,2686.0,835.0,1,0.0,1.0,2013,1,1,2,...,0,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"
2,353.0,2628.0,815.0,1,0.0,1.0,2013,1,1,3,...,0,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"
3,353.0,2677.0,856.0,1,0.0,1.0,2013,1,1,4,...,0,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"
4,353.0,2224.0,719.0,1,0.0,0.0,2013,1,1,5,...,0,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"

In [5]:
df['week'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52])

In [9]:
df['month_start'].unique()

array([ True, False])

In [ ]:
from feature_engineering import *

In [10]:
df.isna().sum()

Store                             0
Sales                             0
Customers                         0
Open                              0
Promo                             0
SchoolHoliday                     0
year                              0
month                             0
week                              0
day                               0
day_week                          0
month_start                       0
month_end                         0
StateHoliday_new                  0
StoreType                         0
Assortment                        0
CompetitionDistance            1305
CompetitionOpenSinceMonth    158067
CompetitionOpenSinceYear     158067
Promo2                            0
Promo2SinceWeek              244960
Promo2SinceYear              244960
PromoInterval                244960
dtype: int64

In [15]:
#fill with average competition distance, month and year, Promo2 Since Week, Promo since year
df[df['Promo2']==0].isna().sum()
df.PromoInterval.unique()

array(['Feb,May,Aug,Nov', 'Jan,Apr,Jul,Oct', 'Mar,Jun,Sept,Dec', nan],
      dtype=object)

In [ ]:
#error metric
def metric(preds, actuals):
    preds = preds.reshape(-1)
    actuals = actuals.reshape(-1)
    assert preds.shape == actuals.shape
    return 100 * np.linalg.norm((actuals - preds) / actuals) / np.sqrt(preds.shape[0])

In [ ]:
my_imputer = SimpleImputer(strategy='mean')
final_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
final_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

final_X_train.columns = X_train.columns
final_X_valid.columns = X_valid.columns

In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
preds = forest_model.predict(val_X)
print(metric(preds, val_y))

NameError: name 'train_test_split' is not defined